body {
    display: flex;
    flex-flow: column nowrap;
}

header {
    height: 600px;
    display: flex;
    flex-flow: column;
}

.header-up {
    padding: 14px;
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    list-style: none;
    flex-flow: row;
    justify-content: space-between;
    gap: 20px;
}

.header-down {
    display: flex;
    justify-content: space-between;
    padding: 70px;
}

.article-section {
    width: 500px;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
}

.header-button {
    width: 110px;
    height: 40px;
}

header, footer {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #1F2937;
}

h1 {
    font-size: 24px;
    color: #F9FAF8;
}

p {
    overflow-wrap: break-word;
}

header a {
    text-decoration: none;
    color: #F9FAF8;
}

.main-text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.secondary-text {
    font-size: 18px;
    color: #E5E7EB;
}

button {
    background-color: #3882F6;
    color: #E5E7EB;
    border-radius: 9px;
}

h2.information-header {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

footer a {
    color: #E5E7EB;
}

.second-section {
    height: 600px;
    padding: 20px;
}

.figs {
    display: flex;
    flex-flow: row wrap;
}

figure {
    width: 300px;
    height: 190px;
    border: 3px solid  #3882F6;
    border-radius: 7px;
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 10px;
    gap: 20px;
}

figcaption {
    overflow-wrap: break-word;
}

.inspiring-quote {
    height: 200px;
    background-color: #E5E7EB;
    margin-top: 20px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    font-weight: 300;
}

.third-section {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.last-div {
    width: 900px;
    background-color: #3882F6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-radius: 9px;
    gap: 70px;
    color: #F9FAF8;
}

.last-div button {
    width: 400px;
    height: 50px;
    align-self: center;
    border-color: #F9FAF8;
}

footer {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

p.copyright, p.credit {
    color: #F9FAF8;
}
